---
import Expressive from './Expressive.astro';
import { Preview, PreviewCode } from '~/components';

const { component = '', react, astro, hasRoot } = Astro.props;
const importPacks = hasRoot ? component : `{ ${component} }`;
const fromPath = `@/components/lism/${component}`;

const getCode = (name: string) =>
	`<span style='--0:#F97583;--1:#BF3441'>import</span>` +
	`<span style='--0:#E1E4E8;--1:#24292E'> ${importPacks} </span>` +
	`<span style='--0:#F97583;--1:#BF3441'>from</span>` +
	` ` +
	`<span style='--0:#9ECBFF;--1:#032F62'>'${fromPath}/index.${name}'</span>` +
	`<span style='--0:#E1E4E8;--1:#24292E'>;</span>`;

const getCopyCode = (name: string) => `import ${importPacks} from '${fromPath}/index.${name}';`;
---

<Preview>
	{
		!hasRoot && react && (
			<PreviewCode slot='tab' label='React'>
				<Expressive copyCode={getCopyCode('jsx')}>
					<Fragment set:html={getCode('jsx')} />
				</Expressive>
			</PreviewCode>
		)
	}
	{
		!hasRoot && astro && (
			<PreviewCode slot='tab' label='Astro'>
				<Expressive copyCode={getCopyCode('astro')}>
					<Fragment set:html={getCode('astro')} />
				</Expressive>
			</PreviewCode>
		)
	}
	{
		hasRoot && (
			<PreviewCode slot='tab' label='index.js'>
				<Expressive copyCode={getCopyCode('js')}>
					<Fragment set:html={getCode('js')} />
				</Expressive>
			</PreviewCode>
		)
	}
</Preview>
