---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';
import {
	Box,
	Container,
	Lism,
	Text,
	Spacer,
	Cluster,
	Delimiter,
	Divider,
	Decorator,
	Grid,
	Icon,
	Center,
	Reel,
	Flex,
	GridItem,
	FlexItem,
	Component,
} from '@lism-ui/core';
import { DammyText } from '~/components';
import DecoBox from './DecoBox';
import Content from './content.jsx';

import './style.scss';
---

<DemoPageLayout>
	<Lism isFlow hasGutter py={50} isContainer='s' alignfull id='demo-wrapper' _dir='rtl'>
		<h2>call</h2>
		<Grid className='c--callout c--callout--left' ta='l'>
			<Decorator
				hasSize
				size='1.25em'
				bd='left'
				rotate='45deg'
				transformOrigin='left bottom'
				mr='auto'
			/>
			<Box p='box:s'>
				<DammyText length='m' />
			</Box>
			<Decorator
				hasSize
				size='1.25em'
				bd='left'
				rotate='-45deg'
				transformOrigin='left top'
				mr='auto'
			/>
		</Grid>
		<Grid className='c--callout c--callout--right' as={Grid} ta='r'>
			<Decorator
				hasSize
				size='1.25em'
				bd='right'
				rotate='-45deg'
				transformOrigin='right bottom'
				ml='auto'
			/>
			<Box p='box:s'>
				<DammyText length='s' />
			</Box>
			<Decorator
				hasSize
				size='1.25em'
				bd='right'
				rotate='45deg'
				transformOrigin='right top'
				ml='auto'
			/>
		</Grid>

		<Flex variant='ltr' className='c--callout c--callout--top' jc='center' ta='c'>
			<Decorator
				as={FlexItem}
				fxsh='0'
				hasSize
				size='1.25em'
				bd='top'
				rotate='-45deg'
				transformOrigin='right top'
			/>
			<FlexItem px='em10' py='em2'>
				<DammyText length='s' />
			</FlexItem>
			<Decorator
				as={FlexItem}
				fxsh='0'
				hasSize
				size='1.25em'
				bd='top'
				rotate='45deg'
				transformOrigin='left top'
			/>
		</Flex>
		<Flex variant='ltr' className='c--callout c--callout--bottom' jc='center' ai='fe' ta='c'>
			<Decorator
				as={FlexItem}
				fxsh='0'
				hasSize
				size='1.25em'
				bd='bottom'
				rotate='45deg'
				transformOrigin='right bottom'
			/>
			<FlexItem px='em10' py='em2' fxg=''>
				<DammyText length='l' />
			</FlexItem>
			<Decorator
				as={FlexItem}
				fxsh='0'
				hasSize
				size='1.25em'
				bd='bottom'
				rotate='-45deg'
				transformOrigin='left bottom'
			/>
		</Flex>
		<Spacer h={40} />

		<Content />
	</Lism>
</DemoPageLayout>
